@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), url("../fonts/roboto-regular.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto"), url("../fonts/roboto-bold.woff2") format("woff2"); }

::placeholder {
  color: #666666; }

::selection {
  background-color: #1973e8;
  color: #ffffff; }

::-webkit-scrollbar {
  width: 0;
  height: 0; }

::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 0;
  height: 0; }

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #949494;
  opacity: 0.5; }

::-webkit-scrollbar-track {
  background-color: #ecedee;
  opacity: 0.5; }

input, textarea {
  outline: none; }
  input:focus:required:invalid, textarea:focus:required:invalid {
    border-color: red; }
  input:required:valid, textarea:required:valid {
    border-color: green; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Roboto, sans-serif;
  line-height: 1.65; }

body {
  font-size: 14px;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transform: translateZ(0);
  opacity: 0;
  transition: opacity 1s; }

body.load {
  opacity: 1; }

#app {
  min-height: 100vh;
  transform: translateZ(0);
  display: flex;
  align-items: center; }

.icon {
  display: inline-block;
  width: 20px;
  height: 20px; }
  .icon-search {
    background: url(../img/icons/search.svg) center/contain no-repeat; }
  .icon-more {
    background: url(../img/icons/more.svg) center/contain no-repeat; }
  .icon-settings {
    background: url(../img/icons/settings.svg) center/contain no-repeat; }
  .icon-landscape {
    background: url(../img/icons/landscape.svg) center/contain no-repeat; }
  .icon-apps {
    background: url(../img/icons/apps.svg) center/contain no-repeat; }
  .icon-star {
    background: url(../img/icons/star.svg) center/contain no-repeat; }
  .icon-close {
    background: url(../img/icons/close.svg) center/contain no-repeat; }
  .icon-photos {
    background: url(../img/icons/photos.svg) center/contain no-repeat; }
  .icon-colors {
    background: url(../img/icons/colors.svg) center/contain no-repeat; }
  .icon-gallery {
    background: url(../img/icons/gallery.svg) center/contain no-repeat; }
  .icon-plus {
    background: url(../img/icons/plus.svg) center/contain no-repeat; }

.x-radio {
  display: flex;
  align-items: center;
  user-select: none; }
  .x-radio input {
    display: none; }
  .x-radio-box {
    width: 16px;
    height: 16px;
    border: 2px solid #1973e8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; }
  .x-radio-title {
    font-size: 13px; }
  .x-radio:hover {
    transition: all .3s;
    opacity: 0.8;
    cursor: pointer; }

.x-radio input:checked ~ .x-radio-box:after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: #1973e8;
  border-radius: 50%; }

label.x-checkbox-label {
  cursor: pointer; }
  label.x-checkbox-label .x-checkbox-input {
    display: none; }
  label.x-checkbox-label .x-checkbox-box {
    width: 28px;
    height: 12px;
    border-radius: 12px;
    background-color: #bdc1c6;
    position: relative; }
    label.x-checkbox-label .x-checkbox-box .x-checkbox-circle {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #ffffff;
      position: absolute;
      top: 50%;
      left: 0px;
      transition: all .3s;
      margin-top: -8px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4); }

label.x-checkbox-label .x-checkbox-input:checked ~ .x-checkbox-box {
  background-color: #9db4f2; }

label.x-checkbox-label .x-checkbox-input:checked ~ .x-checkbox-box .x-checkbox-circle {
  background-color: #1973e8;
  left: 14px; }

button:hover {
  transition: all .3s;
  opacity: 0.8;
  cursor: pointer; }

.main-box {
  position: relative;
  width: 45%;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .main-box {
      width: 70%; } }

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px; }
  .search-bar input {
    width: 555px;
    height: 45px;
    line-height: 45px;
    padding: 0 5px;
    border: none;
    background-color: transparent;
    font-size: 14px; }
  .search-bar.light {
    background: rgba(255, 255, 255, 0.8); }
  .search-bar.dark {
    background: rgba(0, 0, 0, 0.8); }
    .search-bar.dark input {
      color: #ffffff; }
  .search-bar.rounded-searchbar {
    border-radius: 45px; }
  .search-bar .icon {
    width: 45px; }
    @media screen and (max-width: 768px) {
      .search-bar .icon {
        margin-left: 10px; } }

.show-settings-btn {
  position: absolute;
  bottom: 25px;
  right: 25px;
  background-color: #fafafa;
  border-radius: 50%;
  display: flex;
  padding: 2px;
  cursor: pointer;
  transition: background-color .25s ease; }
  .show-settings-btn:hover {
    background-color: #d4d4d4; }

.settings-modal {
  position: absolute;
  width: calc( 100vw - 50px);
  height: calc( 100vh - 50px);
  top: 25px;
  left: 25px;
  opacity: 0;
  background-color: #fafafa;
  transform: translateY(-150%);
  transition: transform .3s, opacity 1s;
  will-change: transform;
  z-index: 100; }
  .settings-modal.show {
    transform: translateY(0);
    opacity: 1; }
  .settings-modal-head {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 20px 40px;
    border-bottom: 1px solid #ececec; }
    .settings-modal-head .icon-close {
      position: absolute;
      right: 20px; }
      .settings-modal-head .icon-close:hover {
        transition: all .3s;
        opacity: 0.8;
        cursor: pointer; }
  .settings-modal-menu {
    display: flex;
    align-items: center; }
    .settings-modal-menu-item {
      display: flex;
      align-items: center;
      margin-right: 30px;
      user-select: none; }
      .settings-modal-menu-item:hover {
        transition: all .3s;
        opacity: 0.8;
        cursor: pointer; }
      .settings-modal-menu-item .icon {
        width: 14px;
        height: 14px;
        margin-right: 8px; }
      .settings-modal-menu-item-text {
        color: #666666;
        font-size: 14px; }
  .settings-modal-view {
    height: calc( 100vh - 50px - 60px);
    overflow: auto; }
    .settings-modal-view > div {
      display: none; }

.general-settings-view.a {
  display: block; }

.general-settings-view .container {
  width: 60%;
  margin: 0 auto;
  padding-top: 10px; }

.general-settings-view .setting-block-title {
  margin: 30px 0 15px;
  color: #3d3d3d;
  font-weight: bold; }

.general-settings-view .setting-block {
  background: #ffffff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1); }

.general-settings-view .setting-item {
  min-height: 60px;
  padding: 0 30px;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .general-settings-view .setting-item-title {
    font-size: 12px; }
  .general-settings-view .setting-item-text {
    font-size: 13px;
    line-height: 1.7; }

.general-settings-view select {
  width: 200px;
  height: 32px;
  border: none;
  padding: 0 10px;
  background-color: #f3f3f3;
  font-size: 12px;
  -webkit-appearance: none; }

.general-settings-view .radio-boxes {
  display: flex;
  align-items: center; }
  .general-settings-view .radio-boxes .x-radio {
    margin-left: 40px; }

.wp-settings-view.a {
  display: flex;
  height: 100%; }

.wp-settings-view .left-part.wp-menu {
  position: relative;
  width: 30%;
  border-right: 1px solid #ececec;
  padding: 30px 25px 0 40px; }
  .wp-settings-view .left-part.wp-menu .wp-menu-item {
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    user-select: none;
    margin-bottom: 10px;
    height: 40px; }
    .wp-settings-view .left-part.wp-menu .wp-menu-item:hover {
      transition: all .3s;
      opacity: 0.8;
      cursor: pointer; }
    .wp-settings-view .left-part.wp-menu .wp-menu-item.a {
      color: #1973e8; }
      .wp-settings-view .left-part.wp-menu .wp-menu-item.a .icon.icon-photos {
        background: url(../img/icons/photos.svg) center/contain no-repeat; }
      .wp-settings-view .left-part.wp-menu .wp-menu-item.a .icon.icon-colors {
        background: url(../img/icons/colors.svg) center/contain no-repeat; }
      .wp-settings-view .left-part.wp-menu .wp-menu-item.a .icon.icon-gallery {
        background: url(../img/icons/gallery.svg) center/contain no-repeat; }
  .wp-settings-view .left-part.wp-menu .wp-menu-item-text {
    color: #a1abb9;
    font-size: 14px; }
  .wp-settings-view .left-part.wp-menu .icon {
    width: 25px;
    height: 25px;
    margin-right: 10px; }

.wp-settings-view .right-part.wp-view {
  width: 70%;
  position: relative;
  padding: 20px 30px; }
  .wp-settings-view .right-part.wp-view > div {
    display: none; }
    .wp-settings-view .right-part.wp-view > div.a {
      display: block; }

.wp-settings-view .previews {
  display: flex;
  flex-wrap: wrap; }
  .wp-settings-view .previews .preview-box {
    width: 20%;
    padding: 0 5px 5px 0;
    overflow: hidden; }
    .wp-settings-view .previews .preview-box:nth-child(5n) {
      padding-right: 0; }
  .wp-settings-view .previews .preview {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    position: relative;
    overflow: hidden; }
    .wp-settings-view .previews .preview:hover {
      transition: all .3s;
      opacity: 0.8;
      cursor: pointer; }
    .wp-settings-view .previews .preview .category-name {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 120px;
      text-transform: uppercase;
      color: #ffffff;
      font-size: 13px;
      font-weight: bold;
      background: rgba(0, 0, 0, 0.2);
      text-align: center; }

.photos-view .wp-search {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ced3d9;
  margin-bottom: 20px; }
  .photos-view .wp-search .icon-search {
    width: 34px;
    height: 14px; }
  .photos-view .wp-search input {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border: none;
    background-color: transparent;
    color: #666666; }

.colors-view .input-box {
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid #ced3d9;
  margin-bottom: 20px; }
  .colors-view .input-box.error {
    border: 1px solid red; }
  .colors-view .input-box input[type="text"] {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border: none;
    background-color: transparent;
    color: #666666; }
  .colors-view .input-box input[type="color"] {
    width: 50px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    -webkit-appearance: none;
    border: 1px solid #ced3d9;
    cursor: pointer; }
    .colors-view .input-box input[type="color"]::-webkit-color-swatch-wrapper {
      padding: 0; }
    .colors-view .input-box input[type="color"]::-webkit-color-swatch {
      border: none; }
  .colors-view .input-box .add-color-btn {
    background: #1973e8;
    border: none;
    height: 32px;
    padding: 0 20px;
    color: #ffffff;
    font-size: 12px;
    margin: -2px -1px; }

.upload-view .add-img-area {
  display: block;
  padding: 60px 20px;
  margin-bottom: 10px;
  background: #ffffff;
  color: #a9b2bf;
  border: 1px solid #ced3d9;
  text-align: center;
  position: relative; }
  .upload-view .add-img-area input[type="file"] {
    display: block;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer; }
  .upload-view .add-img-area .text {
    font-size: 14px;
    line-height: 1.5; }
    .upload-view .add-img-area .text:first-of-type {
      margin-bottom: 15px; }
  .upload-view .add-img-area .blue-text {
    color: #1973e8; }

.upload-view .add-img-desc {
  font-size: 12px;
  text-align: right;
  color: #a9b2bf;
  margin-bottom: 20px; }

.apps-settings-view {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap; }
  .apps-settings-view.a {
    display: flex; }
  .apps-settings-view .apps-item {
    width: 130px;
    text-align: center;
    color: #666666;
    margin-bottom: 30px;
    user-select: none; }
    .apps-settings-view .apps-item:hover {
      transition: all .3s;
      opacity: 0.8;
      cursor: pointer; }
  .apps-settings-view input {
    display: none; }
    .apps-settings-view input:checked ~ .app-uncheck {
      display: none; }
    .apps-settings-view input:checked ~ .app-check {
      display: inline-flex; }
  .apps-settings-view .app-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
  .apps-settings-view .app-title {
    font-size: 13px;
    margin-bottom: 10px; }
  .apps-settings-view .check-state {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 20px;
    height: 20px; }
    .apps-settings-view .check-state .icon {
      width: 12px;
      height: 12px; }
  .apps-settings-view .app-uncheck {
    display: inline-flex;
    background: #d3d3d3; }
  .apps-settings-view .app-check {
    display: none;
    background: #0dc97b; }

@media screen and (max-width: 768px) {
  .wp-settings-view {
    flex-direction: column; }
    .wp-settings-view .left-part.wp-menu, .wp-settings-view .right-part.wp-view {
      width: 100%; }
    .wp-settings-view .left-part.wp-menu {
      display: flex;
      justify-content: space-around;
      padding: 30px 25px 0 25px; }
    .wp-settings-view .previews .preview-box {
      width: 33.3%; }
      .wp-settings-view .previews .preview-box:nth-child(5n) {
        padding-right: 5px; }
      .wp-settings-view .previews .preview-box:nth-child(3n) {
        padding-right: 0; }
  .general-settings-view .radio-boxes {
    flex-direction: column;
    align-items: start; } }

@media screen and (max-width: 480px) {
  .wp-settings-view .left-part.wp-menu {
    justify-content: space-between; }
    .wp-settings-view .left-part.wp-menu .wp-menu-item {
      flex-direction: column; }
      .wp-settings-view .left-part.wp-menu .wp-menu-item-text {
        font-size: 12px; }
  .wp-settings-view .previews .preview-box {
    width: 50%; }
    .wp-settings-view .previews .preview-box:nth-child(5n), .wp-settings-view .previews .preview-box:nth-child(3n) {
      padding-right: 5px; }
    .wp-settings-view .previews .preview-box:nth-child(2n) {
      padding-right: 0; }
  .settings-modal-head {
    align-items: start;
    height: auto; }
  .settings-modal-menu {
    flex-direction: column;
    align-items: start;
    width: 100%; }
    .settings-modal-menu-item {
      margin: 7px 0; }
  .settings-modal-view {
    height: calc( 100vh - 50px - 152px); }
  .general-settings-view .setting-block-title {
    margin: 10px 0 10px; }
  .general-settings-view .container {
    width: 80%; }
  .general-settings-view .setting-item {
    padding: 0 10px; } }
